#### Core packages
altair
jupyterlab
notebook
jupytext
numpy
openpyxl
pandas
requests
scikit-learn
scikit-learn-intelex
scipy
seaborn
statsmodels
### Dev packages
pre-commit
ruff
pytest
docformatter
build
hatch
python-dotenv