gradio
transformers
tokenizers
huggingface-hub
optimum
accelerate
bitsandbytes
safetensors
einops
sentence-transformers
--find-links https://download.pytorch.org/whl/cu121
torch<2.4
torchvision<2.4
torchaudio<2.4
# Optional dependencies not installed here:
# flash-attn